@font-face {
    font-family: 'Libre Baskerville';
    src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url("../fonts/hindmadurai-regular-webfont.woff2") format("woff2"), url("../fonts/hindmadurai-regula-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url("../fonts/hindmadurai-bold-webfont.woff2") format("woff2"), url("../fonts/hindmadurai-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url("../fonts/lora-italic.woff2") format("woff2"), url("../fonts/lora-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}